# Sistema / editor
.DS_Store
Thumbs.db
desktop.ini
.vscode/
.vs/

# Logs y temporales
*.log
*.err
*.tmp
*.bak
*.old
*.orig
logs/

# Compilados Visual FoxPro
*.fxp
*.FXP
*.qpx
*.QPX
*.mpx
*.MPX
*.app
*.APP
*.exe
*.EXE

# Runtime / librerias redistribuibles
*.dll
*.DLL
*.ocx
*.OCX

# Datos locales / indices / memo de tablas
*.dbf
*.DBF
*.fpt
*.FPT
*.cdx
*.CDX
*.idx
*.IDX
FOXUSER.*
FoxyPreviewer_Settings.*
USB*
TXT
thisform.txt_*

# Configuracion local sensible
local.ini
emanuel.ini
*.pfx
*.PFX
*.lic
*.LIC
*.tps
*.TPS
Factelec/*.xml
Factelec/*.XML

# Backups y binarios auxiliares
oldexe/
backup formularios diseño/
tools/foxbin2prg-master/WinMergePortable/
tools/foxbin2prg-master/ThorUpdater/*.zip

# Permitir fuentes y artefactos versionables VFP/FoxBin2Prg
!*.prg
!*.PRG
!*.qpr
!*.QPR
!*.mpr
!*.MPR
!*.scx
!*.SCX
!*.sct
!*.SCT
!*.sc2
!*.SC2
!*.frx
!*.FRX
!*.frt
!*.FRT
!*.fr2
!*.FR2
!*.vcx
!*.VCX
!*.vct
!*.VCT
!*.vc2
!*.VC2
!*.mnx
!*.MNX
!*.mnt
!*.MNT
!*.mn2
!*.MN2
!*.pjx
!*.PJX
!*.pjt
!*.PJT
!*.pj2
!*.PJ2
!*.dbc
!*.DBC
!*.dct
!*.DCT
!*.dcx
!*.DCX
!*.dc2
!*.DC2
!*.lbx
!*.LBX
!*.lbt
!*.LBT
!*.lb2
!*.LB2
!*.fpw
!*.FPW
